$black: #3D3D3D;
$grey: #7E7E7E;

.section {
    padding-top: 50px;
    overflow: hidden;
}

.title {
    letter-spacing: 1.35px;
    color: $black;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    @media (min-width: 576px) {
        font-size: 54px;
    }
}

.desciption {
    text-align: center;
    font-weight: lighter;
    color: $grey;
    font-size: 18px;
    line-height: 31px;
    margin-top: 30px;
    white-space: break-spaces;
    @media (min-width: 768px) {
        font-size: 24px;
        line-height: 45px;
        margin-top: 54px;
        text-align: left;
    }
}