.section {
  padding: 50px 0;
}

.title {
  color: #3D3D3D;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  @media (min-width: 576px) {
    font-size: 50px;
  }
}

.buttonWrapper {
  position: relative;
  width: fit-content;
  margin: 50px auto;
}

.roundButton {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  outline: none;
  border: none;
  text-align: center;
  transition: all 0.4s;
  cursor: pointer;
  display: block;
  font-size: 24px;
  color: #7E7E7E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 30px #00000029;
  transform: scale(1);
  background-color: white;
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }

  img {
    margin-bottom: 20px;
  }
}

.addOne {
  padding: 4px 15px;
  border-radius: 15px;
  background-color: #0CCDA3;
  color: white;
  position: absolute;
  font-size: 20px;
  top: -9px;
  right: 0px;
  transition: all 0.2s ease-in;
}