.section {
  padding-top: 50px;
  path {
    outline: none;
  }
}

.title {
  color: #3D3D3D;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  @media (min-width: 576px) {
    font-size: 50px;
  }
  @media (min-width: 768px) {
    text-align: start;
  }
}

.subTitle {
  font-size: 18px;
  color: #7E7E7E;
  margin-top: 20px;
  font-weight: lighter;
  text-align: center;
  @media (min-width: 576px) {
    font-size: 24px;
  }
  @media (min-width: 768px) {
    text-align: start;
  }
}

.map {
  padding: 20px;
}

.marker {
  cursor: pointer;
  &:hover {
    path  {
      fill: rgb(20, 197, 159);
    }
  }
}


.infoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  @media (min-width: 576px) {

  }
  @media (min-width: 768px) {
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0;
  }
}

.infoGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:first-child {
    margin-right: 20px;
  }
  h6 {
    color: #555555;
    font-size: 16px;
    @media (min-width: 576px) {
      font-size: 18px;
    }
  }
  p {
    color: #0CCDA3;
    font-size: 30px;
    margin-top: 10px;
    @media (min-width: 576px) {
      font-size: 40px;
    }
  }
}